.layout {
  height: 100%;
  text-align: center;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 10% 85% 5%;
  background-image: url("https://img.freepik.com/free-photo/grunge-paint-background_1409-1337.jpg?w=1060&t=st=1683523964~exp=1683524564~hmac=c32e311edae52f209754753f8f20e21a1035094f63ad794e454f831101f42269");
  background-position: center;
  background-size: cover;
}
.layout> * {
  border: 2px solid black;
}

.layout>header, footer {
  grid-column: span 12;
}

.layout>aside {
  grid-column: span 2;
}

.layout>main {
  grid-column: span 10;   
}