

.signature p {
    color: black;
    font-family: 'Brush Script MT', cursive;
    font-size: 20px;
}
.footer{
    margin-top: auto;
    background: black;
    color: azure;
}
.footer p{
    color: azure;
    font-size: x-large;
}
