.App {
  position: fixed;
  background-image: url("https://img.freepik.com/free-photo/grunge-paint-background_1409-1337.jpg?w=1060&t=st=1683523964~exp=1683524564~hmac=c32e311edae52f209754753f8f20e21a1035094f63ad794e454f831101f42269");
  background-position: center;
  background-size: cover;
  top: 0;
  left: 0;
  text-align: center;
  height: 100vh;
  width: 100%;
}

